

<h3>1. Property Binding</h3>
<h1>a. Interpolation -- {{message}}</h1>  <!-- Interpolation -->
<p>b. Method defined --  {{getMessage()}}</p>  <!-- Method defines in home.component.ts -->

<h3>2. Event Binding</h3> <!-- work when click -->
<button type="button" class="btn btn-primary" (click) = "myClicker()">Surprise Button</button>


<h3>3. Route Link</h3> 
<a routerLink = "login">Login</a><br/>
<a routerLink = "register">Register</a><br/>
<a routerLink = "databinding">Data Binding</a><br/>
<a routerLink = "contactUs">Contact Us</a><br/>
<a routerLink = "about">About</a><br/>
<a routerLink = "product">Product/a><br/>
<a routerLink = "support">Support</a><br/>
<a routerLink = "user">User</a>
