.navbar-collapse {
    display: flex;
    color: rgb(255, 7, 230);
    justify-content: center;
    align-items: center;
    background-color: rgba(147, 206, 147, 0.814);
    height: 50px;
  }

.navbar-nav-mr-auto {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.nav-item {
    display: flex;
    padding: 0 40px;
  }